In [2]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(0, -9, 10))

10

In [10]:
def isPalindrome(string):
    left_pos = 0
    right_pos = len(string) - 1
    
    while right_pos >= left_pos:
        if not string[left_pos] == string[right_pos]:
            return False
        left_pos += 1
        right_pos -= 1
    return True
print(isPalindrome('madam'))

True

In [11]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('My Name Is Maria Babu ')

Original String :  My Name Is Maria Babu
No. of Upper case characters :  5
No. of Lower case Characters :  12

In [13]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((5, 4, 3, 2, 10)))

24

In [16]:
def multi(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total
print(multi((2, 2, 1, 2, 1)))

8

In [18]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,2,2,3,3,3,3,4,4,5]))

[1, 2, 3, 4, 5]